<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>ViewFile</title>-->
<!--</head>-->
{% extends 'agentindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>View Files</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">AGENT</th>
        <th scope="col">FileName</th>
        <th scope="col">Date</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.aid.name}}</td>
        <td><img src="{{i.file.url}}" width="100" height="100"/> </td>
        <td>{{i.date}}</td>
        <td><p><a href="{% url 'editFiles' id=i.id %}">Edit</a></p>
        <p><a href="{% url 'delFiles' id=i.id %}">Delete</a></p></td>
      </tr>
      <tr>
        {% endfor %}
        <td colspan="3"><center><a href="addFiles">add</a></center></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
<!--</html>-->
