<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AgentDashboard</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row"><a href="add_manage_policy">ADD AND MANAGE POOLICY</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="view_doubt_snd_rep">VIEW DOUBT AND SEND REPLY</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="view_req_updt_stat">VIEW REQUEST AND UPDATE STATUS</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="view_feed_rating">VIEW FEEDBACK AND RATING</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="add_manage_file">ADD AND MANAGE FILE</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="/">LOGOUT</a></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
