<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>VIEW_REQ_UPDATE_STATUS</title>-->
<!--</head>-->
{% extends 'agentindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW REQUEST AND UPDATE STATUS</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">USER</th>
        <th scope="col"><p>POLICY NO</p></th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.uid.fname}}{{i.uid.lname}}</td>
        <td>{{i.pid.policyNo}}</td>
        <td>{% if i.status == 'pending' %}
            <p><a href="{% url 'approve' id=i.id %}">APPROVE</a></p>
            <p><a href="{% url 'reject' id=i.id %}">REJECT</a></p></td>
            {% elif i.status == 'approved' %}
              you approved
            {% else %}
              you rejected
            {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
<!--</html>-->
