<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>SND_DBT_VIEW_REP</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>SEND DOUBT &amp; VIEW REPLY</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">AGENT</th>
        <th scope="col">DOUBT</th>
        <th scope="col">REPLY</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.aid.name}}</td>
        <td>{{i.doubt}}</td>
        <td>{{i.reply}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3"><CENTER>
          <a href="send_dbt">ADD</a>
        </CENTER></td>
      </tr>
    </tbody>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}