<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>USER_HOME</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>USER HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row"><a href="view_plcy_snd_req">VIEW POLICY AND SEND REQUEST</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="view_req_stat">VIEW REQUEST STATUS</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="send_feed_rating">SEND FEEDBACK & RATING</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="send_comp_view_rep">SEND COMPLAINT AND VIEW REPLY</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="send_dbt_view_rep">SEND DOUBT AND VIEW REPLY</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="/">LOGOUT</a></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
